html {
  --text: #1c2536;
  --text-alt: #f4f1f7;
  --bg: #f4f1f7;
  --bg-alt: #0F1624;
  --accent: #6978d1;
  --gradient: linear-gradient(90deg, rgba(87, 37, 167, 1) 0%, rgba(105, 120, 209, 1) 30%, rgba(19, 173, 199, 1) 100%);
}

html[data-theme='dark'] {
  --text: #f4f1f7;
  --text-alt: #1c2536;
  --bg: #0F1624;
  --bg-alt: #f4f1f7;
  --accent: #6978d1;
  --gradient: linear-gradient(90deg, rgba(87, 37, 167, 1) 0%, rgba(105, 120, 209, 1) 30%, rgba(19, 173, 199, 1) 100%);
}

.btn {
  padding: 10px 40px;
  border-radius: 50px;
  text-decoration: none;
  line-height: 1.6;
  font-weight: 400;
  font-size: 1rem;
  color: #FFF;
  background: #13adc7;
  background: -webkit-gradient(linear, left top, right top, from(#13adc7), color-stop(30%, #6978d1), to(#5725a7));
  background: linear-gradient(90deg, #13adc7 0%, #6978d1 30%, #5725a7 100%);
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#13adc7), color-stop(30%, #6978d1), to(#5725a7));
  background: linear-gradient(180deg, #13adc7 0%, #6978d1 30%, #5725a7 100%);
}

@media (max-width: 575.98px) {
  .btn {
    padding: 8px 30px;
    line-height: 1.4;
    font-weight: 400;
    font-size: .8rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: var(--bg);
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  margin: 0 auto;
}

::-moz-selection {
  background: var(--accent);
}

::selection {
  background: var(--accent);
}

.location-tracker {
  content: '';
  position: fixed;
  top: 0;
  height: 2px;
  background: var(--gradient);
  border-radius: 20px;
  z-index: 999;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

html ::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes entry {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes entry {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes exit {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes exit {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 0;
  }
}

@-webkit-keyframes show {
  0% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  20% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  40% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  70% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}

@keyframes show {
  0% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  20% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  40% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  70% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}

@-webkit-keyframes disabled {
  10% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes disabled {
  10% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

header {
  width: 100%;
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header .wrapper {
  height: 100%;
  padding: 30px 10%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  header .wrapper {
    padding: 30px 5%;
  }
}

header .wrapper .burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 40px;
  cursor: pointer;
  z-index: 999;
}

header .wrapper .burger .line1,
header .wrapper .burger .line2,
header .wrapper .burger .line3 {
  height: 3.5px;
  width: 35px;
  border-radius: 10px;
  background-color: var(--text);
  opacity: 0.6;
  margin: 3.5px 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (max-width: 767.98px) {
  header .wrapper .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header .wrapper .cross .line1 {
  -webkit-transform: rotate(45deg) translate(7px, 8px);
          transform: rotate(45deg) translate(7px, 8px);
}

header .wrapper .cross .line2 {
  -webkit-transform: scale(0);
          transform: scale(0);
}

header .wrapper .cross .line3 {
  -webkit-transform: rotate(-45deg) translate(7px, -7px);
          transform: rotate(-45deg) translate(7px, -7px);
}

header .wrapper .logo {
  text-decoration: none;
  color: var(--accent);
  font-weight: 900;
  font-family: 'Permanent Marker';
  font-size: 1.5rem;
}

header .wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767.98px) {
  header .wrapper nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 80px 20px 200px;
    height: 100vh;
    width: 50%;
    background: var(--bg);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
}

header .wrapper nav li {
  list-style: none;
  margin: 0 20px;
  display: block;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (max-width: 767.98px) {
  header .wrapper nav li {
    opacity: 0;
  }
}

header .wrapper nav li a {
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  display: block;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header .wrapper nav li a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -7px;
  background-color: var(--accent);
  height: 4px;
  border-radius: 10px;
  width: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header .wrapper nav li a:hover:after {
  width: 100%;
}

header .wrapper nav li a:hover {
  color: var(--accent);
}

@media (max-width: 767.98px) {
  header .wrapper nav li a {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  header .wrapper nav li a {
    font-size: 1rem;
  }
}

header .wrapper .show-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header .wrapper .dark-mode-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

header .wrapper .dark-mode-wrapper .light-label,
header .wrapper .dark-mode-wrapper .dark-label {
  margin: 0 5px;
  color: var(--text);
  font-size: 0.8rem;
  font-weight: 600;
}

@media (max-width: 800.98px) {
  header .wrapper .dark-mode-wrapper .light-label,
  header .wrapper .dark-mode-wrapper .dark-label {
    display: none;
  }
}

.header-on-scroll {
  height: 80px;
  -webkit-box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.05);
  background-color: var(--bg);
}

input[type='checkbox'].dark-mode-switch {
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 2.5rem;
  height: 1.5rem;
  background: #ddd;
  border-radius: 3rem;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

input[type='checkbox'].dark-mode-switch:checked {
  background: var(--accent);
}

input[type='checkbox'].dark-mode-switch:after {
  position: absolute;
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

input[type='checkbox'].dark-mode-switch:checked:after {
  left: calc(100% - 1.5rem);
}

.active {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.active a {
  color: var(--accent) !important;
}

.active a::after {
  width: 100% !important;
}

section {
  width: 100%;
  margin: 0 auto;
  padding: 60px 20% 0;
}

@media (max-width: 767.98px) {
  section {
    padding: 60px 5% 0;
  }
}

@media (max-width: 1439.99px) {
  section {
    padding: 60px 10% 0;
  }
}

.wave path {
  fill: var(--bg-alt);
}

#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-color: var(--bg);
  position: relative;
  padding-top: 200px;
}

@media (max-width: 575.98px) {
  #hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 100px;
  }
}

#hero .intro-wrapper h2, #hero .intro-wrapper h4, #hero .intro-wrapper h5 {
  line-height: 1.6;
}

#hero .intro-wrapper h4 {
  font-size: 2rem;
  color: var(--text);
  opacity: .8;
  font-weight: 400;
}

@media (max-width: 425px) {
  #hero .intro-wrapper h4 {
    font-size: 1.5rem;
  }
}

#hero .intro-wrapper h2 {
  font-size: 4rem;
  color: var(--accent);
  font-weight: 500;
}

@media (max-width: 575.98px) {
  #hero .intro-wrapper h2 {
    font-size: 3rem;
  }
}

@media (max-width: 425px) {
  #hero .intro-wrapper h2 {
    font-size: 2rem;
  }
}

#hero .intro-wrapper h5 {
  font-size: 1.2rem;
  color: var(--text);
  opacity: .6;
  font-weight: 500;
}

@media (max-width: 425px) {
  #hero .intro-wrapper h5 {
    font-size: 1rem;
  }
}

#hero a {
  margin-top: 30px;
}

#about {
  background-color: var(--bg-alt);
  margin-top: -20px;
}

#about .about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

@media (max-width: 767.98px) {
  #about .about-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
  }
}

#about .about-wrapper .about-left {
  width: 50%;
  text-align: left;
}

@media (max-width: 767.98px) {
  #about .about-wrapper .about-left {
    width: 100%;
    text-align: center;
  }
}

#about .about-wrapper .about-left h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
  color: var(--text-alt);
}

@media (max-width: 767.98px) {
  #about .about-wrapper .about-left h2 {
    font-size: 1.6rem;
  }
}

#about .about-wrapper .about-left .about-left-skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin: 30px 0;
}

@media (max-width: 767.98px) {
  #about .about-wrapper .about-left .about-left-skills .skill {
    width: 80%;
    margin: 30px auto;
  }
}

#about .about-wrapper .about-left .about-left-skills .skill .skill-title-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 5px 0;
}

#about .about-wrapper .about-left .about-left-skills .skill .skill-title-rating h4 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6;
  color: var(--text-alt);
}

#about .about-wrapper .about-left .about-left-skills .skill .skill-bar {
  height: 0.9rem;
  width: 100%;
  border-radius: 50px;
  overflow: hidden;
}

#about .about-wrapper .about-left .about-left-skills .skill .skill-bar .skill-bar-outer {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

#about .about-wrapper .about-left .about-left-skills .skill .skill-bar .skill-bar-outer .skill-bar-inner {
  height: 100%;
  background: var(--gradient);
  border-radius: 50px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#about .about-wrapper .about-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 767.98px) {
  #about .about-wrapper .about-right {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#about .about-wrapper .about-right .title {
  color: var(--text-alt);
}

#about .about-wrapper .about-right p {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: justify;
  line-height: 1.6;
  color: var(--text-alt);
}

@media (max-width: 767.98px) {
  #about .about-wrapper .about-right p {
    font-size: 0.9rem;
  }
}

#about .about-wrapper .about-right p a {
  color: var(--accent);
}

#about .about-wrapper .about-right a {
  display: block;
  margin-top: 30px;
}

.inView {
  -webkit-animation: inView 2s forwards;
          animation: inView 2s forwards;
}

#portfolio {
  background-color: var(--bg);
}

@media (max-width: 767.98px) {
  #portfolio {
    text-align: center;
  }
}

#portfolio .portfolio-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

#portfolio .portfolio-wrapper .project-card {
  position: relative;
  max-width: 300px;
  min-height: 400px;
  padding: 10px 15px;
  border: 2px solid var(--text);
  border-radius: 15px;
  text-align: center;
  background-color: var(--bg);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#portfolio .portfolio-wrapper .project-card:hover .view-now {
  opacity: 1;
}

#portfolio .portfolio-wrapper .project-card:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#portfolio .portfolio-wrapper .project-card a {
  text-decoration: none;
}

#portfolio .portfolio-wrapper .project-card a .view-now {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#portfolio .portfolio-wrapper .project-card a .view-now i {
  font-size: 4rem;
  color: var(--accent);
  opacity: 0.6;
}

#portfolio .portfolio-wrapper .project-card a .project-img {
  overflow: hidden;
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

#portfolio .portfolio-wrapper .project-card a .project-img img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#portfolio .portfolio-wrapper .project-card a .project-title {
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6;
  color: var(--text);
}

#portfolio .portfolio-wrapper .project-card a .project-desc {
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text);
  text-align: justify;
}

#portfolio .portfolio-wrapper .project-card a .project-technology {
  margin: 20px 0;
}

#portfolio .portfolio-wrapper .project-card a .project-technology i {
  font-size: 1.5rem;
  margin: 0 10px;
}

#contact {
  background-color: var(--bg);
  padding-bottom: 100px;
  position: relative;
}

#contact .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

@media (max-width: 767.98px) {
  #contact .contact-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#contact .contact-wrapper .contact-info {
  width: 50%;
  padding: 20px;
}

@media (max-width: 767.98px) {
  #contact .contact-wrapper .contact-info {
    width: 100%;
  }
}

#contact .contact-wrapper .contact-info i {
  display: inline-block;
  margin-right: 20px;
  font-size: 2rem;
  color: var(--text);
}

@media (max-width: 767.98px) {
  #contact .contact-wrapper .contact-info i {
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {
  #contact .contact-wrapper .contact-info i {
    font-size: 1.3rem;
  }
}

#contact .contact-wrapper .contact-info span {
  display: inline-block;
  font-size: 1.2rem;
}

@media (max-width: 767.98px) {
  #contact .contact-wrapper .contact-info span {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  #contact .contact-wrapper .contact-info span {
    font-size: 1rem;
  }
}

#contact .contact-wrapper .contact-info span a {
  text-decoration: none;
  color: var(--text);
}

#contact .contact-wrapper .contact-info span address {
  font-style: normal;
  display: inline-block;
  color: var(--text);
}

#contact .contact-wrapper .contact-form {
  padding: 20px;
  width: 50%;
}

@media (max-width: 767.98px) {
  #contact .contact-wrapper .contact-form {
    width: 100%;
  }
}

#contact .contact-wrapper .contact-form form {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .contact-wrapper .contact-form form .input-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#contact .contact-wrapper .contact-form form input,
#contact .contact-wrapper .contact-form form textarea,
#contact .contact-wrapper .contact-form form button {
  display: block;
  width: 100%;
  margin: 10px;
  font-family: 'Poppins';
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#contact .contact-wrapper .contact-form form .error {
  font-size: 0.6rem;
  color: #dc3545;
  font-weight: 400;
}

#contact .contact-wrapper .contact-form form input,
#contact .contact-wrapper .contact-form form textarea {
  height: 100%;
  font-size: 0.8rem;
  padding: 10px;
  padding-right: 40px;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0 0 2px 0 var(--text);
          box-shadow: 0 0 2px 0 var(--text);
  margin: 10px 0;
  color: #000;
}

#contact .contact-wrapper .contact-form form input:focus,
#contact .contact-wrapper .contact-form form textarea:focus {
  outline: 2px solid var(--accent);
  background-color: #ecedf4;
}

#contact .contact-wrapper .contact-form form .form-submit {
  border: none;
  cursor: pointer;
  margin: 0;
}

#contact .contact-wrapper .contact-form form .form-submit:disabled {
  cursor: not-allowed;
}

.invalid-input {
  background-color: rgba(220, 53, 69, 0.2);
  -webkit-box-shadow: 0 0 3px 0 rgba(220, 53, 69, 0.3) !important;
          box-shadow: 0 0 3px 0 rgba(220, 53, 69, 0.3) !important;
  color: var(--text) !important;
}

.invalid-input::-webkit-input-placeholder {
  color: rgba(220, 53, 69, 0.6);
  font-weight: 600;
}

.invalid-input:-ms-input-placeholder {
  color: rgba(220, 53, 69, 0.6);
  font-weight: 600;
}

.invalid-input::-ms-input-placeholder {
  color: rgba(220, 53, 69, 0.6);
  font-weight: 600;
}

.invalid-input::placeholder {
  color: rgba(220, 53, 69, 0.6);
  font-weight: 600;
}

.invalid-input:focus {
  outline: 2px solid rgba(220, 53, 69, 0.5) !important;
  background-color: rgba(220, 53, 69, 0.3) !important;
}

.valid-input {
  background-color: rgba(25, 135, 84, 0.2);
  -webkit-box-shadow: 0 0 3px 0 rgba(25, 135, 84, 0.3) !important;
          box-shadow: 0 0 3px 0 rgba(25, 135, 84, 0.3) !important;
  color: var(--text) !important;
}

.valid-input::-webkit-input-placeholder {
  color: rgba(25, 135, 84, 0.6);
  font-weight: 600;
}

.valid-input:-ms-input-placeholder {
  color: rgba(25, 135, 84, 0.6);
  font-weight: 600;
}

.valid-input::-ms-input-placeholder {
  color: rgba(25, 135, 84, 0.6);
  font-weight: 600;
}

.valid-input::placeholder {
  color: rgba(25, 135, 84, 0.6);
  font-weight: 600;
}

.valid-input:focus {
  outline: 2px solid rgba(25, 135, 84, 0.5) !important;
  background-color: rgba(25, 135, 84, 0.3) !important;
}

.fa-circle-check,
.fa-circle-xmark,
.check-icon {
  position: absolute;
  right: 10px;
  bottom: 22px;
  font-size: 1rem;
}

.fa-circle-check {
  color: #198754;
}

.fa-circle-xmark {
  color: #dc3545;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: var(--bg-alt);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer span {
  color: var(--text-alt);
}

.alert {
  -webkit-transform: translateX(500px);
          transform: translateX(500px);
  position: fixed;
  top: 20px;
  right: 20px;
  background: var(--bg-alt);
  padding: 20px;
  z-index: 1000;
  opacity: .9;
  border-radius: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.alert span {
  color: var(--text-alt);
  font-size: 1rem;
  margin-right: 10px;
}

.alert i {
  color: #198754;
  font-size: 1rem;
  margin-left: 10px;
}

.show-alert {
  -webkit-animation: show 4s forwards;
          animation: show 4s forwards;
}

.fa-html5 {
  color: #e34c26;
}

.fa-css3 {
  color: #264de4;
}

.fa-react {
  color: #61dafb;
}

.fa-js {
  color: #f0db4f;
}

.fa-sass {
  color: #CD6799;
}

.title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.6;
  color: var(--text);
}

@media (max-width: 767.98px) {
  .title {
    font-size: 3rem;
  }
}

@media (max-width: 991.98px) {
  .title {
    font-size: 3.2rem;
  }
}
