footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: var(--bg-alt);
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        color: var(--text-alt);
    }
}