header {
  width: 100%;
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  transition: all 0.2s;

  .wrapper {
    height: 100%;
    padding: 30px 10%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767.98px) {
      padding: 30px 5%;
    }

    .burger {
      display: none;
      flex-direction: column;
      justify-content: center;
      width: 35px;
      height: 40px;
      cursor: pointer;
      z-index: 999;

      .line1,
      .line2,
      .line3 {
        height: 3.5px;
        width: 35px;
        border-radius: 10px;
        background-color: var(--text);
        opacity: 0.6;
        margin: 3.5px 0;
        transition: all 0.2s;
      }

      @media (max-width: 767.98px) {
        display: flex;
      }
    }

    .cross {
      .line1 {
        transform: rotate(45deg) translate(7px, 8px);
      }

      .line2 {
        transform: scale(0);
      }

      .line3 {
        transform: rotate(-45deg) translate(7px, -7px);
      }
    }

    .logo {
      text-decoration: none;
      color: var(--accent);
      font-weight: 900;
      font-family: 'Permanent Marker';
      font-size: 1.5rem;
    }

    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      @media (max-width: 767.98px) {
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        transform: translateX(-100%);
        align-items: flex-end;
        justify-content: space-around;
        padding: 80px 20px 200px;
        height: 100vh;
        width: 50%;
        // backdrop-filter: blur(10px);
        background: var(--bg);
        transition: all 0.2s;
      }

      li {
        list-style: none;
        margin: 0 20px;
        display: block;
        position: relative;
        transition: all 0.2s;

        @media (max-width: 767.98px) {
          opacity: 0;
        }

        a {
          color: var(--text);
          text-decoration: none;
          font-weight: 500;
          display: block;
          position: relative;
          transition: all 0.2s;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -7px;
            background-color: var(--accent);
            height: 4px;
            border-radius: 10px;
            width: 0;
            transition: all 0.2s;
          }

          &:hover:after {
            width: 100%;
          }

          &:hover {
            color: var(--accent);
          }

          @media (max-width: 767.98px) {
            font-size: 1.5rem;
          }
          @media (max-width: 400px) {
            font-size: 1rem;
          }
        }
      }
    }

    .show-nav {
      transform: translateX(0);
    }

    .dark-mode-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .light-label,
      .dark-label {
        margin: 0 5px;
        color: var(--text);
        font-size: 0.8rem;
        font-weight: 600;

        @media (max-width: 800.98px) {
          display: none;
        }
      }
    }
  }
}

.header-on-scroll {
  height: 80px;
  box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.05);
  background-color: var(--bg);
}

input[type='checkbox'].dark-mode-switch {
  font-size: 16px;
  appearance: none;
  width: 2.5rem;
  height: 1.5rem;
  background: #ddd;
  border-radius: 3rem;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
}

input[type='checkbox'].dark-mode-switch:checked {
  background: var(--accent);
}

input[type='checkbox'].dark-mode-switch:after {
  position: absolute;
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  transform: scale(0.7);
  left: 0;
  transition: all 0.2s;
}

input[type='checkbox'].dark-mode-switch:checked:after {
  left: calc(100% - 1.5rem);
}

.active {
  transition: all 0.2s;

  a {
    color: var(--accent) !important;

    &::after {
      width: 100% !important;
    }
  }
}
